<mat-toolbar color="primary">
    <span><img src="/assets/logo.jpg" height=60 width=60></span>
    <a mat-button routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span> HOME</a>
    <a mat-button routerLink='/cadidature' routerLinkActive="active"><span class="fa fa-info fa-lg"></span> CARRIERE</a>
    <a mat-button routerLink='/contactus' routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class="flex-spacer"></span>
    <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> LOGIN</a>
  </mat-toolbar>
  
 